.youtube-videos-container {
    padding: 10px;
}

.video-heading {
    text-align: center;
    margin-bottom: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.video-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.video-description {
    font-size: 14px;
    color: #666;
}