.hero-background {
    background-image: url('/assets/heroImage.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

section {
    margin: 5px 0px;
}

.hero {
    height: 100vh;
    position: relative;
    background-color: black;
}


.heroItems {
    color: #0b0440;
    padding: 10px ;
    text-align : left;
}

.heroItems h1{
    font-size: 48px;
}
.heroItems p{
    font-size: 22px;
    color: #222222;
}

.heroTextBackground{
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 0px 20px 20px 0px;

}


.navbar {
    padding: 1rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.nav-link {
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #3e9392;
}

.nav-text {
    padding: 0.5rem 0;
}

.list-inline {
    list-style: none;
    display: flex;
    justify-content: center;
}

.icon-text {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #fff;
}

.icon-text:hover {
    color: #3e9392;
}

.headingColour {
    color: #434343;
}

.textColour {
    color: #222222;
}

.buttonColor {
    background-color: transparent;
    border: 1px solid #3e9392;
    color: #000;
}

.buttonColor:hover{

    background-color: #ff8700;
    border: 0;
}